@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%; }

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center; }

.header {
  grid-area: header;
  background-image: url("../assetes/images/logo principal.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100%;
  height: 40%; }

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  overflow: hidden; }

.nav {
  --state-close: scale(0);
  --state-hamburguer: scale(1);
  --state-menu: translate(-100%);
  padding: 40px 0;
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(2, max-content); }

.nav:target {
  --state-menu: translate(0);
  --state-close: scale(1);
  --state-hamburguer: scale(0); }

.nav__logo {
  font-size: 2.5rem;
  z-index: 1; }

.navhamburguer, .navclose {
  cursor: pointer;
  grid-column: -2/-1;
  grid-row: 1/2;
  transition: .4s transform; }

.nav__hamburguer {
  transform: var(--state-hamburguer); }

.nav__close {
  transform: var(--state-close); }

.nav__icon {
  width: 40px; }

.nav__links {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  display: grid;
  align-content: center;
  gap: 2em;
  padding-left: 5%;
  transform: var(--state-menu);
  transition: .3s transform; }

.nav__item {
  list-style: none; }

.nav__link {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 2px; }

@media (min-width: 768px) {
  .nav {
    --state-hamburguer: scale(0);
    --state-menu: translate(0); }
  .nav:target {
    --state-close: scale(0); }
  .nav__links {
    padding: 0;
    background-color: unset;
    position: unset;
    gap: 1.5em;
    grid-auto-flow: column;
    transform: unset;
    grid-column: -2/-1;
    grid-row: 1/2; }
  .nav__link {
    font-size: 1rem;
    letter-spacing: none; } }

main {
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  background: #e95409;
  background: linear-gradient(90deg, #e95409 23%, #e0a82c 85%, #fcb045 100%);
  padding-bottom: 50px;
  /* Ajusta el valor según tus necesidades para dejar espacio para el footer */ }

section {
  min-height: 80vh;
  width: 100%;
  display: flex; }

section h2 {
  text-align: center; }

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease; }

section img:hover {
  cursor: crosshair;
  width: 150px;
  opacity: 1;
  filter: contrast(120%); }

.form-group {
  margin-bottom: 20px;
  display: inline-block;
  width: 45%;
  /* ajusta este valor según tus necesidades */ }

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; }

select,
input[type="radio"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px; }

.btn {
  padding: 10px 20px;
  background-color: #af904c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.btn:hover {
  background-color: #e95409; }

@media (max-width: 600px) {
  .form-group {
    width: 100%; } }

/* Pantallas de escritorio de alta resolución / @media (min-width: 1281px) { / Ajusta los estilos para esta resolución */
/* Tablets y iPads en modo vertical */
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 100%; }
  .form-group {
    display: block;
    width: 100%; } }

/* Tablets y iPads en modo horizontal */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    max-width: 100%; }
  .form-group {
    display: block;
    width: 100%; } }

/* Baja resolución Tablets y Mobiles en modo horizontal */
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 100%; }
  .form-group {
    display: block;
    width: 100%; } }

/* La mayoría de los Smartphones en modo vertical */
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 100%; }
  .form-group {
    display: block;
    width: 100%; } }

footer {
  height: 300px;
  /* Ajusta el valor según tus necesidades */
  display: flex;
  flex-wrap: wrap;
  background-color: #272727; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.footer {
  flex-wrap: wrap;
  justify-content: space-around; }

.footer-row {
  display: flex;
  flex-wrap: wrap; }

.footer-links {
  flex-basis: 25%;
  padding: 0 90px; }

.footer-links h4 {
  font-size: 20px;
  color: beige;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #e95409;
  padding-bottom: 10px;
  display: inline-block; }

.footer-links ul li a {
  font-size: 18px;
  text-decoration: none;
  color: aliceblue;
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease; }

.footer-links ul li a:hover {
  color: white;
  padding-left: 6px; }

.social-links a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: black;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all .5s ease; }

.social-links a:hover {
  background-color: #e95409; }

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-row {
    text-align: center; }
  .footer-links {
    width: 100%;
    margin-bottom: 30px; } }

@media (min-width: 481px) and (max-width: 767px) {
  .footer-row {
    text-align: center; }
  .footer-links {
    width: 100%;
    margin-bottom: 30px; } }

@media (min-width: 320px) and (max-width: 480px) {
  .footer-row {
    text-align: center; }
  .footer-links {
    width: 100%;
    margin-bottom: 30px; } }
