.encabezado {
    grid-area: espacio1;
    background-color: tomato;
    display: flex; }
  
  .encabezado a img {
    width: 10%; }
  
  .encabezado nav {
    width: 100%; }
  
  .encabezado nav ul {
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: blue; }
  
  .encabezado nav ul li a {
    text-decoration: none; }
  
  .encabezado nav ul li {
    list-style-type: none; }