header{
    height: 60vh;
}
.hero{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url('../assetes/images/agencia\ proyecto.webp');
    background-size: cover;
    min-height: 500px;
    height: 60vh;
    color: #fff;
}