$color_1: #AB8543;
$color_2: white;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #DDC79A;
$background-color_2: #AB8543;
$background-color_3: #070707;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input-style {
  width: 100%;
  padding: 8px;
  border: 1px solid;
  border-radius: 5px;
}

@mixin button-style {
  padding: 10px 20px;
  background-color: $background-color_2;
  color: $color_2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: $background-color_3;
  }
}

.form-group {
  width: 48%;
  margin-bottom: 10px;
  color: $color_1;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  @include input-style;
}

.navbare {
  grid-area: navbar;
  background-color: $background-color_1;
  @include flex-center;
}

form {
  @include flex-center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

input {
  @include input-style;
}

button {
  @include button-style;
}

@media only screen and (max-width: 768px) {
  .form-group {
    @include flex-center;
    flex-direction: column;
    width: min-content;
    height: min-content;
    text-align: center;
    font-size: smaller;
    font-family: $font-family_1;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  select {
    @include input-style;
  }

  button {
    @include button-style;
    padding: 1px 1px;
    height: 40px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .form-group {
    @include flex-center; 
    flex-direction: column;
    width: min-content;
    height: min-content;
    text-align: center;
    font-size: x-small;
    font-family: $font-family_1;
  }

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  select {
    @include input-style;
  }

  button {
    @include button-style;
    padding: 1px 1px;
    height: 40px;
  }
}