.sidebar {
	grid-area: sidebar;
	background: radial-gradient(circle, rgba(195,115,34,1) 0%, rgba(255,193,59,1) 100%);
}
.car-brands {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
	img {
		width: 100px;
		height: auto;
		max-width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	.car-brands {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		flex-wrap: wrap;
		justify-content: space-between;
		img {
			width: 80px;
			height: auto;
			max-width: 100%;
		}
	}
}
@media only screen and (min-width: 320px) and (max-width: 736px) {
	.car-brands {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		flex-wrap: wrap;
		justify-content: space-between;
		img {
			width: 40px;
			height: auto;
			max-width: 100%;
		}
	}
}
