
$background-color_1: #BFAB82;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-image($width) {
  width: $width;
  height: auto;
  max-width: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: $background-color_1;
}

.car-brands {
  @include flex-center; 
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    @include responsive-image(100px);
  }
}

@media only screen and (max-width: 768px) {
  .car-brands {
    @include flex-center; 
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      @include responsive-image(80px);
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .car-brands {
    @include flex-center;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;

    img {
      @include responsive-image(40px);
    }
  }
}