*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    html {
    height: 100%;
    }
    
    body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    }
    
    .grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    }
    .grid-container {
        display: grid;
        gap: 10px;
        grid-template:
          "header"  100px
          "main"    auto
          "navbar"  100px
          "sidebar" 100px
          "footer"  200px;
      }
    
    @media (min-width: 600px) {
        .grid-container {
          grid-template-columns: 200px auto;
          grid-template-rows: 100px 50px auto 100px;
          grid-template-areas:
          "header  header"
          "main  main"
          "navbar sidebar"
          "footer  footer" ;
    
      grid-template:
        "header  header" 100px
        "main  main" auto
        "navbar navbar "   100px
        "sidebar sidebar "   100px
        "footer  footer" 200px /
        200px    auto;
    }
    }
    
    @media (min-width: 900px) {
        .grid-container {
          grid-template:
            "header  header header"  200px
            "main  main   main" auto
            "navbar  navbar  navbar" 300px
            "sidebar  sidebar  sidebar" 130px
            "footer  footer footer"  300px /
            200px    auto   200px;
        }
      }
@import "./header";
@import "./main";
@import "./footer";
@import "./navbar";
@import "./sidebar"